* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.input-adress {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
    background-image: url(../Img/Vector.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;
    flex: 0.8;
}

.input__search {
    padding: 8px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    background-image: url(../Img/search.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;
    width: 300px;
    margin-left: auto;
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
}

.button-primary {
    background:#1890FF;
    border: 1px solid #1890FF;
    color: #FFFFFF;
    margin-right: 10px;
}

.button__card__text {
    margin-right: 10px;
}

.button-icon {
    margin-right: 6px;  
}

.button-text {
    vertical-align: middle;
}

.promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    border-radius: 10px;
    background: #FFF1B8  url(../Img/Svetik.png) no-repeat top right -200px;
    padding: 68px 70px;
    margin-bottom: 56px;
}

.promo__title {
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
}

.promo__text {
    max-width: 538px;
    font-weight: normal;
    line-height: 28px;
    font-size: 24px;
    color: #302C34;
}

.section__heading {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}

.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.section__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin: 0;
    margin-right: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.card {
    background: #FFFFFF;
    border-radius: 7px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 31%;
    text-decoration: none;
}

.card__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card__text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}

.card__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.card__title__reg {
    font-weight: 400;
    
}

.card__teg {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: white;
    border-radius: 2px;
    padding: 1px 8px;
    background: #262626;
}

.card__info {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.card__buttons {
    display: flex;
    align-items: center;

}

.card__price__bold {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    margin-left: 30px;
}

.rating {
    margin-right: 26px;
    color: #FFC107;
}

.price,
.category {
    color: #8C8C8C;
    font-size: 18px;
    line-height: 32px;
}

.price {
    margin-right: 10px;
}

.price:after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}

.footer {
    padding: 60px 0;
}

.footer__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__nav {
    margin-left: 35px;
    margin-right: auto;
}

.footer__link {
    display: inline-block;
    color: #595959;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.footer__link:not(:last-child) {
    margin-right: 15px;
}

.social__links {
    display: flex;
    align-items: center;
}

.social__link:not(:last-child) {
    margin-right: 21px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    display: none;
}

.is__open {
    display: flex;
}

.modal__dialog {
    max-width: 780px;
    width: 95%;
    background: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
    
}

.modal__header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.modal__title {
    margin: 0;
    font-size: 36px;
    line-height: 42px;
}

.close {
    font-size: 36px;
    border: none;
    background-color: transparent;
}

.food__name {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

.food__price {
    margin-left: auto;
    margin-right: 47px;
}

.food__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 15px;

}

.food__counter {
    display: flex;
    align-items: center;
}

.counter__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #40A9FF;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #40A9FF;
}

.counter {
    font-size: 15px;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 10px;

}

.modal__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__body {
    margin-bottom: 52px;
}

.footer__buttons {
    display: flex;
    align-items: center;
}

.price__teg {
    background: #262626;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    line-height: 23px;
    padding: 15px 20px;
}

@media (max-width: 1366px) {
    .container {
        max-width: 960px;
    }

    .promo {
        background-size: 800px;
        background-position: top right center;
    }
    

}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .promo {
        padding: 50px;
        background-size: 500px;
        background-position: center right;

    }

    .promo__text {
        font-size: 16px;
        min-width: 400px;
    }

    .card {
        flex-basis: 49%;
    }

    .card__img {
        width: 100%;
    }

    .footer__link {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }

    .card__info {
        flex-wrap: wrap;
    }

    .rating {
        flex-basis: 100%;
    }

    .card__title {
        font-size: 18px;
    }

    .promo {
        background-size: 400px;
        background-position: botton 50px right -200px;
    }

    .promo__title {
        font-size: 24px;
    }

    .promo__text {
        max-width: 100px;
    }
}

@media (max-width: 578px) {
    .container {
        max-width: 90%;
    }

    .header {
        flex-wrap: wrap;
    }

    .input-adress {
        order: 5;/* поменяли порядок расстановки (сделали инпут последним, а был он вторым*/
        margin-top: 15px;
        flex: 1;/*растянули данный элемент на всю ширину контейнера*/
    }

    .promo {
        background-image: none;
    }

    .promo__title {
        margin-bottom: 10px;
    }

    .section__title {
        font-size: 20px;
    } 

    .card {
        flex-basis: 100%;
    }

    .footer {
        padding: 30px 0;
    }

    .footer__block {
        align-items: flex-start;
    }

    .footer__nav {
        order: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .footer__logo {
        order: 1;
    }

    .social__link {
        order: 2;
    }
}

@media (max-width: 480px) {

    .button-text {
        display: none;
    }

    .button {
        min-height: 40px;
    }

    .button-icon {
        padding: 0;
    }

    .promo {
        padding: 20px;
    }

    .section__heading {
        flex-wrap: wrap;
    }

    .footer__block {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .footer__logo {
        order: 0;
        margin-bottom: 10px;
    }

    .footer__nav {
        margin-bottom: 20px;
        margin-left: 150px;
    }
}
